<?php
date_default_timezone_set('America/Argentina/Buenos_Aires');
define('DB_HOST','mysql.avillucas.com.ar');
define('DB_NAME','prog3_comanda');

define('DB_USERNAME','utnuser');
define('DB_PASSWORD','90TGRE4TR46');
define('SECRET','c0mand4pr3');
define('API_NAME','Comanda tp');
define('DEBUG', true );

define('JWT_SECRET','c0mand4pr3');